<launch>
  <arg name="name" default="gelsight"/>

  <group ns="$(arg name)">
    <rosparam command="load" file="$(find gelsight_ros)/config/gelsight.yml"/>
    <param name="depth/model_path" value="$(find gelsight_ros)/data/model-17-53-24.pth"/>

    <node name="gelsight" type="gelsight.py" pkg="gelsight_ros" output="screen"/>
  </group>
</launch>
